<div *ngIf="categorie" class="articles">
    <h2>{{article.title | uppercase}} Details</h2>
    <div><span>Description: </span>{{article.content}}</div>
    <div><span>Categorie: </span>{{article.categorie}}</div>
    <div><span>Update Date: </span>{{article.updated_at | date}}</div>
    <div>
      <button routerLink="/article-edit/{{article.id}}">
        Edit
      </button>
    </div>
  </div>