<h2>Article List</h2>

<div>
  <button (click)="add()">
    Add
  </button>
</div>

<ul class="articles">
  <li *ngFor="let a of articles; let i=index;">
    <a routerLink="/article-details/{{a.id}}">
      <span class="badge">{{i+1}}</span> {{a.title}}
    </a>
    <button class="delete" title="delete articles"
      (click)="delete(a.id)">x</button>
  </li>
</ul>