<div>
    <h2>Article Add</h2>
    <div>

      <label>Article Title:
        <input [(ngModel)]="articleData.title" placeholder="Article libelle"/>
      </label><br>

      <label>Article Content:
        <input [(ngModel)]="articleData.content" placeholder="Article Description"/>
      </label><br>

      <!-- <label>Categorie :
          <input [(ngModel)]="articleData.descripton" placeholder="Categorie"/>
        </label><br> -->

        <label>Categorie : </label>
            <select [(ngModel)]="articleData.categorie_id" placeholder="Categorie">
            <option selected>Sélectionner la catégorie</option>
            <option *ngFor ="let cat of categorieData" value="{{cat.id}}">{{cat.name}}</option>
            </select>
          

    </div>
    <button (click)="addArticle()">Save</button>
  </div>