<h2>Categorie List</h2>

<div>
  <button (click)="add()">
    Add
  </button>
</div>

<ul class="categories">
  <li *ngFor="let c of categories; let i=index;">
    <a routerLink="/categorie-details/{{c.id}}">
      <span class="badge">{{i+1}}</span> {{c.name}}
    </a>
    <button class="delete" title="delete categorie"
      (click)="delete(c.id)">x</button>
  </li>
</ul>