<div *ngIf="categorie" class="categories">
  <h2>{{categorie.name | uppercase}} Details</h2>
  <div><span>Description: </span>{{categorie.description}}</div>
  <div><span>Update Date: </span>{{categorie.updated_at | date}}</div>
  <div>
    <button routerLink="/categorie-edit/{{categorie.id}}">
      Edit
    </button>
  </div>
</div>
