<div>
  <h2>Categorie Edit</h2>
  <div>
    <label>Categorie Name:
      <input [(ngModel)]="categorieData.name" placeholder="Categorie Name"/>
    </label><br>
    <label>Categorie Desc:
      <input [(ngModel)]="categorieData.description" placeholder="Categorie Description"/>
    </label><br>
  </div>
  <button (click)="updateCategorie(categorieData.id)">Update</button>
</div>