<div>
    <h2>Article Edit</h2>
    <div>
      <label>Article Name:
        <input [(ngModel)]="articleData.name" placeholder="Article Name"/>
      </label><br>
      <label>Article Content:
        <input [(ngModel)]="articleData.description" placeholder="Article Description"/>
      </label><br>
      <label>Categorie:
          <input [(ngModel)]="articleData.categorie_id" placeholder="Categorie"/>
        </label><br>
    </div>
    <button (click)="updateArticle()">Update</button>
  </div>